# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Build folders
mobile/android/app/build/
mobile/.dart_tool/
mobile/.flutter-plugins-dependencies

# Models (too large)
backend/nllb_model/
backend/nllb_tokenizer_fixed/
backend/models/

# Environment
backend/.env
.env
.env.production

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db